/*
Need to simplify overly complex CSS for readability, usability and maintenance 
Consolidate duplicated selectors and style properties into re-usable selectors

universal class selector
these style properties will be applied to all appropriate elements on the page
if these properties appear in otheer class selectors they should be safe to remove
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the HTML body element background color ro white */
body {
    background-color: #d9dcd6;
}

/* sets all header elements style propertiees */
/* original HTML uses <div class="header"> */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Note: the header constrast ratio meets the accessibility requirement. Change the benefits aside background color to this value. */
    background-color: #2a607c;
    color: #ffffff;
}

/* Original source: h1 is nested within header div. Can this be consolidated into .header selector? */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*
See above and allow for styling the SEO after you replace the non semantic HTML elemets with sematic elements 
changed html element from span to em, updating font-style to normal
*/
.header h1 .seo {
    font-style: normal;
    color: #d9dcd6;
}

/*
changed the div to nav, updating these to nav too
*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* unordered list */
.header nav ul {
    list-style-type: none;
}

/* the list elements */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* anchor element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph element */
p {
    font-size: 16px;
}

/* hero image, needs alt description of image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* is this used? yes, yes it is */
.float-left {
    float: left;
    margin-right: 25px;
}

/* is this used? yes, yes it is */
.float-right {
    float: right;
    margin-left: 25px;
}

/* content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*
    Changing the background color as a test to see if the contrast ratio is compliant with the accessibility requirement
    background-color: #2589bd; 
    */
    background-color: #2a607c;
}

/* benefit-lead, -brand, -cost are duplicative, can be consolidated for re-use */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefit-lead, -brand, -cost are duplicative, can be consolidated for re-use */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefit-lead, -brand, -cost are duplicative, can be consolidated for re-use */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefit-lead, -brand, -cost h3 are duplicative, can be consolidated for re-use */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* benefit-lead, -brand, -cost h3 are duplicative, can be consolidated for re-use */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* benefit-lead, -brand, -cost h3 are duplicative, can be consolidated for re-use */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* benefit-lead, -brand, -cost img are duplicative, can be consolidated for re-use */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* benefit-lead, -brand, -cost img are duplicative, can be consolidated for re-use */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* benefit-lead, -brand, -cost img are duplicative, can be consolidated for re-use */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing are duplicative, can be consolidated for re-use */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing are duplicative, can be consolidated for re-use */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing are duplicative, can be consolidated for re-use */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing img are duplicative, can be consolidated for re-use */
.search-engine-optimization img {
    max-height: 200px;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing img are duplicative, can be consolidated for re-use */
.online-reputation-management img {
    max-height: 200px;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing img are duplicative, can be consolidated for re-use */
.social-media-marketing img {
    max-height: 200px;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing img are duplicative, can be consolidated for re-use */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing img are duplicative, can be consolidated for re-use */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* .search-engine-optimization, .online-reputation-management, .social-media-marketing img are duplicative, can be consolidated for re-use */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
